.app-main {
    padding: 50px;
}

.app-header {
    display: block;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
}

.article-body {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

h1 img {
    height: 60px;
    width: auto;
    margin-left: 20px;
}

/* loading icon */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.load {
	width: 100px;
	height: 100px;
	border:solid 10px var(--secondary-hover);
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}